* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
body{
  width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(9.webp);
    background-position: center;
    background-size: cover;
    height: 109vh;

}
.main-content{
    color:#ffffff;
    padding: 15px;
    text-decoration: solid;
    display: block;

  }
  