* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
body{
  width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(2.avif);
    background-position: center;
    background-size: cover;
    height: 109vh;

}

.main-content{
    text-transform: capitalize;
    text-shadow: 0cqb;
    text-size-adjust: 15px;
    color:#ffffff;
    padding: 15px;
    text-decoration: solid;
    display: block;

}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  .main-content {
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .game-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .game-icon {
    margin: 10px;
    text-align: center;
  }
  
  .game-icon img {
    width: 100px; /* Adjust icon size */
    height: 100px;
    margin-bottom: 10px;
    border-radius: 10px; /* Add border-radius for rounded corners */
  }
  
  .game-icon span {
    display: block;
    font-weight: bold;
  }